<table style="width:780px; margin:0 auto; font-size:26px;">
  <tbody>
    <tr>
      <td style="border-bottom:3px solid black;padding:20px 0;">
        <a style="font-size:32px;text-decoration:none;color:black" target="__blank"
            href="{{domain}}">레슨하자</a>
      </td>
    </tr>
    <tr>
      <td style="padding:60px 0;">
        <p>레슨하자 임시 비밀번호가 발급되었습니다.</p>
        <p>요청하신 <span style="font-weight:600;color:#185ACE">임시 비밀번호</span>는 아래와 같습니다.</p>
      </td>
    </tr>
    <tr>
      <td>
        <b>임시비밀번호</b><span style="padding-left:90px">{{password}}</span>
      </td>
    </tr>
    <tr>
      <td>
        <button style="width:100%;background-color:#185ACE; height:80px;margin-top:70px;">
          <a style="font-size:26px;text-decoration:none; color:white; display:flex; justify-content:center;align-items:center;" target="__blank"
            href="{{domain}}/login">레슨하자 로그인</a>
        </button>
      </td>
    </tr>
  </tbody>
</table>